# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore the Python Virtual Environment
venv/
.venv/
ENV/

# Ignore VS Code specific configurations you don't want to share
.vscode/project-settings.json

# Other common ignores
.env
*.log

# Java
target/
*.class

# IDE
.idea/

# Demo build output
TESTING.md/